<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đơn thuốc</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0px;
      background-color: white;
    "
  >
    <div
      style="
        max-width: 820px;
        margin: 0 auto;
        background-color: white;
        padding: 0px;
      "
    >
      <header
        style="
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          justify-content: center;
          position: relative;
        "
      >
        <img
          src="https://i.ibb.co/PttNHXW/Screenshot-2024-10-18-005923.png"
          alt=""
          style="
            width: 180px;
            height: 180px;
            position: absolute;
            top: 0;
            left: 0;
          "
        />
        <div style="margin-left: 140px; margin-top: 40px; text-align: center">
          <h1 style="color: #005792; margin: 0; font-size: 26px">
            PHÒNG KHÁM CHUYÊN NỘI KHOA
          </h1>
          <h1 style="color: #005792; margin: 0; font-size: 26px">P-CLINIC</h1>
          <p
            style="
              color: #005792;
              font-style: italic;
              font-size: 16px;
              margin: 5px 0;
            "
          >
            Địa chỉ: Khu đô thị FPT City, Ngũ Hành Sơn, Da Nang
          </p>
        </div>
      </header>
      <h2
        style="
          text-align: center;
          color: #005792;
          margin-bottom: 10px;
          font-size: 26px;
        "
      >
        Đơn thuốc
      </h2>
      <p style="text-align: center; margin-bottom: 20px; font-style: italic">
        Mã đơn thuốc: {{reportCode}}
      </p>
      <hr style="border: 2px solid #005792; margin: 10px 20px" />
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 0px;
          margin-left: 20px;
          margin-right: 20px;
        "
      >
        <p style="margin: 2px"><strong>Họ và tên:</strong> {{patientName}}</p>
        <p style="margin: 2px"><strong>Tuổi:</strong> {{age}}</p>
        <p style="margin: 2px"><strong>Giới tính:</strong> {{gender}}</p>
      </div>
      <!-- <p style="margin-left: 20px; margin-right: 20px;"><strong>Chuẩn đoán:</strong> {{diagnosis}}</p> -->
      <p style="margin-left: 20px; margin-right: 20px">
        <strong>Địa chỉ:</strong> {{patientAddress}}
      </p>
      <hr style="border: 2px solid #005792; margin: 10px 20px" />
      
      <p
        style="
          margin: 0px 20px;
          font-weight: 600;
          color: #005792;
          margin-top: 20px;
          margin-bottom: 10px;
        "
      >
        Đơn thuốc
      </p>

      <div
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        "
      >
        <table style="width: 95%; border-collapse: collapse; margin: 0px 0px">
          <thead>
            <tr>
              <th style="border: 1px solid #005792; padding: 8px; width: 20px">
                STT
              </th>
              <th style="border: 1px solid #005792; padding: 8px; width: 200px">
                Tên thuốc
              </th>
              <th style="border: 1px solid #005792; padding: 8px; width: 100px">
                Số lượng
              </th>
              <th style="border: 1px solid #005792; padding: 8px; width: 150px">
                Cách sử dụng
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each medicines}}
            <tr>
              <td style="border: 1px solid #005792; padding: 8px; width: 20px">
                {{this.index}}
              </td>
              <td style="border: 1px solid #005792; padding: 8px; width: 200px">
                {{this.name}}
              </td>
              <td style="border: 1px solid #005792; padding: 8px; width: 100px">
                {{this.quantity}}
              </td>
              <td style="border: 1px solid #005792; padding: 8px; width: 150px">
                {{this.usage}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          margin-left: 20px;
          margin-right: 20px;
        "
      >
        <div>
          <h3 style="color: #005792">Lưu ý:</h3>
          <p
            style="color: #005792; max-width: 300px; text-transform: uppercase"
          >
            {{{notice}}}
          </p>
        </div>
        <div style="text-align: center">
          <p>Ngày {{day}} tháng {{month}} năm {{year}}</p>
          <p style="color: #005792"><strong>BÁC SĨ CUNG CẤP</strong></p>
          <p style="color: #005792"><strong>{{doctorName}}</strong></p>
        </div>
      </div>
    </div>
  </body>
</html>
